
@keyframes up-ani {
    0% {
        transform: translate(0, 100px);
    }
    100% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
}
.up {
    animation: up-ani 1s forwards;
}

.banner1 {
    height: 500px;
    background-image: url('image/main_2.jpg');
    background-position: center;
    background-size: cover;
    padding-left: 13%;
    padding-top: 130px;
}
.banner1 h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    line-height: 55px;
    margin-bottom: 30px;
}
.banner1 span {
    color: #8cf0e9;
}
.banner1 p {
    font-size: 20px;
    color: white;
    font-family: "noto_light";
}

/* 여기까지 banner1 */

.search {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}
.search_title h2 {
    font-size: 45px;
    line-height: 65px;
    color: #162c5e;
    text-align: center;
    font-family: "noto_light";
}
.search_title h2 span {
    font-weight: bold;
}
.search > img {
    margin: 40px 0;
}
.search_bar {
    width: 800px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #162c5e;
    padding: 5px 10px;
}
.search_bar img {
    border-right: 1px solid #162c5e;
    padding-right: 15px;
    padding-left: 5px;
}
.search_bar input {
    width: 600px;
    border: none;
    outline: none;
}
.search_bar input::placeholder {
    color: #b3b3b3;
    font-size: 15px;
}
.search_bar button {
    background-color: #162c5e;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
/* 여기까지 search */

.promotion {
    height: 950px;
    background-image: url('./image/promotion.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0 70px 0;
}
.promotion_text {
    text-align: center;
    color: white;
}
.promotion_text h1 {
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: bold;
}
.promotion_text p {
   font-size: 20px;
}
.promotion_car {
    display: flex;
    opacity: 0;
}
.car_box {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 280px;
    height: 460px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
}
.car_box img {
    border-radius: 10px 10px 0 0;
}
.car_box p {
    margin: 7px 20px;
}
.car_box p:nth-of-type(3) {
    font-size: 18px;
    color:#3970e1;
    font-family: 'noto_black';
}
.car_box button {
    width: 235px;
    height: 40px;
    margin: auto;
    background-color: #0240bb;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.car_box .car_title {
    display: flex;
    justify-content: space-between;
    color: #1b396f;
    font-size: 20px;
    font-weight: bold;
    line-height: 25px;
    margin: 15px 20px;
}
.car_box .car_title img {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.promotion > button {
    color: white;
    border: 1px solid white;
    background-color: rgba(255,255,255,0);
    border-radius: 10px;
    width: 320px;
    height: 65px;
    font-size: 20px;
    cursor: pointer;
}
.promotion > button:hover {
    background-color: white;
    color: #1b396f;
    font-weight: bold;
}
/* 여기까지 promotion */

.banner2 {
    height: 600px;
    background-image: url('./image/back_1.png');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.banner2_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner2_title > h1 {
    font-size: 45px;
    font-weight: bold;
    color: white;
}
.banner2_title > p {
    color: white;
    font-size: 20px;
    margin-top: 30px;
}
.banner2_box {
    opacity: 0;
    display: flex;
    width: 1100px;
    justify-content: space-around;
    margin-top: 80px;
}
.banner2_box h1 {
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.banner2_box p {
    font-size: 20px;
    color: white;
}
.banner2_box > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 200px;
}
/* 여기까지 banner2 */

.smart {
    height: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./image/smart.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 90px
}
.smart > img {
    width: 65px;
    height: 40px;
    margin-bottom: 40px;
}
.smart h1 {
    font-size: 45px;
    color: #1b396f;
    font-weight: bold;
    margin-bottom: 40px;
} 
.smart p {
    color: #1b396f;
    font-size: 20px;
    margin-bottom: 65px;
}
.smart .icon_box {
    display: flex;
    width: 1350px;
    padding: 0 120px 20px 120px;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    opacity: 0;
}
.icon_box div h2 {
    font-size: 30px;
    font-weight: bold;
    color: #8cf0e9;
    text-align: center;
    margin-top: 20px;
}
.icon_desc {
    display: flex;
    justify-content: space-between;
}
.icon_desc p {
    color: white;
    text-align: center;
    font-family: "noto_light";
    font-size: 15px;
    line-height: 30px;
    margin: 20px 40px 0 40px;
    width: 320px;
}
/* 여기까지 smart */

.benefit {
    height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding-top: 90px;
}
.benefit_title {
    display: flex;
    flex-direction: column;
    height: 130px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}
.benefit h1 {
    font-size: 45px;
    color: #1b396f;
    font-weight: bold;
}
.benefit_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.benefit_img > div {
    display: flex;
    width: 1050px;
    justify-content: space-between;
}
.benefit_box {
    opacity: 0;
    text-align: center;
    width: 320px;
}
.benefit_box h2 {
    color: #1b396f;
    font-family: 'noto_black';
    font-size: 25px;
    margin: 20px 0;
}
.benefit_box p {
    color: #1b396f;
    font-size: 20px;
    font-family: 'noto_light';
}
.benefit > button {
    color: #1b396f;
    border: 1px solid #1b396f;
    background-color: rgba(255,255,255,0);
    width: 320px;
    height: 65px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 120px;
    cursor: pointer;
}
.benefit > button:hover {
    background-color: #1b396f;
    color: white;
    font-weight: bold;
}
/* 여기까지 benefit */

.counsel {
    height: 210px;
    padding-top: 35px;
    background-color: #e8eef5;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1b396f;
}
.counsel_text {
    width: 720px;
    display: flex;
    justify-content: space-between;
}
.counsel_text > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
}
.counsel_text h1 {
    font-size: 27px;
    margin-bottom: 10px;
}
.counsel_text h2 {
    font-size: 13px;
}
.counsel_text p {
    font-size: 11px;
}
.counsel_text span {
    font-weight: bold;
}
.counsel_text input[type="checkbox"] {
    display: none;
}
.counsel_text input[type="checkbox"] + label {
    border: 1.5px solid #1b396f;
    border-radius: 4px;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
}
.counsel_text input[type="checkbox"]:checked + label {
    background-color: #1b396f;
}
.counsel_text button {
    color: #1b396f;
    border: 1.5px solid #1b396f;
    background-color: rgba(255,255,255,0);
    border-radius: 5px;
    font-size: 12px;
    margin-left: 5px;
    padding: 1px 3px;
    cursor: pointer;
    vertical-align: middle;
}
.counsel_form {
    width: 720px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.counsel_form input {
    width: 150px;
    background-color: white;
    border: 1.5px solid #1b396f;
    padding: 10px 20px;
    border-radius: 10px;
}
.counsel_form input::placeholder {
    color: #1b396f;
    font-weight: 600;
}
.counsel_form input[type="submit"] {
    background-color: #1b396f;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.counsel_form select {
    width: 150px;
    background-color: white;
    border: 1.5px solid #1b396f;
    padding: 10px 20px;
    color: #1b396f;
    font-weight: 600;
    border-radius: 10px;    
    cursor: pointer;
}
.counsel_form select option {
    color: #1b396f;
    font-weight: 600;
    border: 1.5px solid #1b396f;
}
/* 여기까지 counsel */

.system {
    height: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('image/system_b.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    padding-top: 90px;
}
.system_title {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}
.system h1 {
    font-size: 40px;
}
.system_img {
    opacity: 0;
}
.system_text {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 1100px;
    font-size: 25px;
    line-height: 1.5;
    font-family: 'noto_light'; 
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding:0 30px 60px 30px;
}
.system p {
    font-family: 'noto_light'; 
    font-size: 20px;
    margin-top: 35px; 
}
/* 여기까지 system */

.review {
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eaf4ff;
    padding-top: 100px;
}
.review_title {
    display: flex;
    flex-direction: column;
    height: 175px;
    justify-content: space-between;
    align-items: center;
    color: #1b396f;
    margin-bottom: 100px;
}
.review_title h1 {
    font-size: 40px;
    font-family: 'noto_bold';
}
.review_title > p {
    font-size: 18px;
}
.review_center {
    display: flex;
    width: 1100px;
    justify-content: space-between;
}
.review_box {
    opacity: 0;
    width: 340px;
    height: 440px;
    border-radius: 20px;
    box-shadow: -2px 2px 8px 7px rgba(0, 0, 0, 0.1);
}
.review_text {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px 10px 0 0;
    padding: 20px;
}
.review_text > div {
    display: flex;
    justify-content: space-between;
}
.review_text > div h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: #1b396f;
}
.review_text > div p {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 11px;
    background-color: #1b396f;
    color: #ffde00;
}
.review_text img {
    width: 110px;
    height: 20px;
}
.review_text h3 {
    font-size: 20px;
    font-family: 'noto_black';
}
.review_text p {
    color: #1b396f;
    font-size: 15px;
    line-height: 1.7;
    font-family: 'noto_medium';
}
.review_text span {
    font-weight: bold;
}
.review_person {
    height: 25%;
    background-color: #1b396f;
    color: #f4f4f4;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}
.review_person p {
    font-size: 14px;
    font-family: 'noto_medium';
    margin-bottom: 15px;
}
.review_person h4 {
    font-size: 18px;
    font-family: 'noto_black';
}
/* 여기까지 review */

.video {
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1b396f;
    padding-top: 120px;
    overflow: hidden;
}
.video_title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin-bottom: 95px;
}
.video_title h1 {
    font-size: 40px;
    font-family: 'noto_bold';
}
.video_title p {
    font-size: 18px;
}
.video_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1750px;
    height: 320px;
    overflow: hidden;
}
/* 여기까지 video */

.kakao img {
    width: 100%;
    height: 180px;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}
.kakao a {
    background-color: #e9eff6;
}
/* 여기까지 kakao */

.media {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 990px;
    padding-top: 100px;
    background-color: #e9eff6;
    color: #1b396f;
}
.media_title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 185px;
    margin-bottom: 85px;
}
.media_title h1 {
    font-size: 40px;
    font-family: 'noto_bold';
}
.media_title p {
    font-size: 18px;
}
.media_box {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}
.media_box div img {
    width: 340px;
    height: 200px;
    cursor: pointer;
}
.media_box div h3 {
    margin: 10px;
    padding: 5px 10px 15px 10px;
    border-bottom: 1px solid black;
    font-size: 16px;
    font-family: 'noto_bold';
}
.media_box div span {
    font-size: 11px;
    color: #9f9f9f;
    margin-left: 15px;
    font-family: 'noto_bold';
}
.media_box div p {
    margin: 15px 10px;
    font-size: 16px;
    font-family: 'noto_bold';
    color: black;
    line-height: 1.5;
}
.media > button {
    color: #1b396f;
    border: 1px solid #1b396f;
    background-color: rgba(255,255,255,0);
    width: 320px;
    height: 65px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 100px;
    font-size: 18px;
}
.media > button:hover {
    background-color: #1b396f;
    color: white;
    font-weight: bold;
}
/* 여기까지 media */

.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 965px;
    padding-top: 70px;
    background-color: #1b396f;
    color: white;
}
.faq_title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 190px;
    margin-bottom: 90px;
}
.faq_title h1 {
    font-size: 40px;
    font-family: 'noto_bold';
}
.faq_title p {
    font-size: 18px;
}
.faq_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 1000px;
    height: 390px;
}
.faq_box > div {
    display: flex;
    justify-content: space-between;
}
.faq_box .faq_question {
    font-size: 16px;
    font-family: 'noto_black';
    width: 490px;
    height: 60px;
    border: 1px solid #8cf0e9;
    border-radius: 5px;
    color: #8cf0e9;
    margin: 20px 0;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.faq_box .faq_question img {
    margin-right: 15px;
    width: 13px;
    height: 10px;
}
.faq_box p {
    font-size: 14px;
    line-height: 1.8;
    padding-left: 15px;
    font-family: 'noto_light';
}
.faq_box span {
    font-family: 'noto_black';
}
.faq > button {
    color: white;
    font-size: 18px;
    border: 1px solid white;
    background-color: rgba(255,255,255,0);
    width: 320px;
    height: 65px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 90px;
}
.faq > button:hover {
    background-color: white;
    color: #1b396f;
    font-weight: bold;
}
/* 여기까지 faq */

.banner3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 870px;
    padding-top: 170px;
    color: #1b396f;
}
.banner3_title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    margin-bottom: 70px;
}
.banner3_title h1 {
    font-size: 40px;
    font-family: 'noto_bold';
}
.banner3_title p {
    font-size: 18px;
}
.banner3_center {
    display: flex;
    justify-content: space-between;
    width: 910px;
}
.banner3_center > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner3_box {
    opacity: 0;
}
.banner3_center > div > div {
    background-image: url('image/image_1.png');
    background-position: center;
    background-size: cover;
    width: 280px;
    height: 270px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner3_center > div:nth-child(2) > div {
    background-image: url('image/image_2.png');
}
.banner3_center > div:nth-child(3) > div {
    background-image: url('image/image_3.png');
}
.banner3_center > div h2 {
    font-size: 23px;
    color: white;
    font-family: 'noto_bold';
    line-height: 1.3;
}
.banner3_center > div span {
    font-family: 'noto_light';
}
.banner3_center > div button {
    font-size: 12px;
    font-family: 'noto_medium';
    font-weight: 600;
    color: white;
    background-color: rgba(255,255,255,0);
    padding: 5px 20px;
    align-self: flex-end;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}
.banner3_center > div button:hover {
    background-color: white;
    color: #1b396f;
}
.banner3_center > div img {
    margin: 10px 0 5px 0;
}
.banner3_center > div p {
    text-align: center;
    margin: 5px 0;
    font-size: 16px;
    font-family: 'noto_bold';
    line-height: 1.5;
}
/* 여기까지 banner3 */

.banner4 {
    height: 590px;
    background-image: url('image/bottom.png');
    background-position: center;
    background-size: cover;
    display: flex;
    padding-top: 130px;
    padding-left: 20%;
}

.banner4 h1 {
    color: #1b396f;
    font-size: 40px;
    font-family: 'noto_bold';
    line-height: 55px;
    letter-spacing: -1px;
    margin-bottom: 30px;
}
.banner4 p {
    color: #1b396f;
    font-size: 18px;
    line-height: 2;
    letter-spacing: -1px;
}
/* 여기까지 banner4 */

@media screen and (max-width: 760px) {
    *:not(html, body) {
        text-align: center;
        overflow: hidden;
    }

    .banner1 {
        height: 240px;
        background-color: #162c5e;
        background-image: none;
    }
    .banner1 h1 {
        display: none;
    }
    .banner1 span {
        display: none;
    }
    .banner1 p {
        display: none;
    }
/* 여기까지 banner */

    .search {
        height: 280px;
        padding-top: 45px;
    }
    .search_title h2 {
        font-size: 19px;
        line-height: 26px;
    }
    .search > img {
        width: 600px;
        height: 35px;
    }
    .search_bar {
        width: 330px;
        height: 40px;
    }
    .search_bar img {
        border-right: 1px solid #162c5e;
        padding-right: 10px;
        padding-left: 3px;
        width: 35px;
        height: 30px;
    }
    .search_bar input {
        width: 230px;
        padding-left: 10px;
    }
    .search_bar input::placeholder {
        font-size: 12px;
        text-align: left;
    }
    .search_bar button {
        padding: 0;
        font-size: 12px;
        border-radius: 5px;
        width: 70px;
        height: 30px;
    }
    /* 여기까지 search */

    .promotion {
        height: 550px;
        padding: 50px 0 30px 0;
        background-image: url('./m_image/m_promotion.jpg');
    }
    .promotion_text h1 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .promotion_text p {
    font-size: 9px;
    }
    .car_box {
        font-size: 10px;
        width: 205px;
        height: 335px;
        margin-right: 15px;
    }
    .car_box img {
        width: 205px;
        height: 135px;
    }
    .car_box p {
        margin: 10px 15px;
    }
    .car_box p:nth-of-type(3) {
        font-size: 14px;
    }
    .car_box button {
        width: 170px;
        height: 30px;
        font-size: 14px;
        border-radius: 5px;
    }
    .car_box .car_title {
        font-size: 14px;
        line-height: 18px;
        margin: 10px 15px;
    }
    .car_box .car_title img {
        width: 35px;
        height: 35px;
    }
    .promotion > button {
        border-radius: 5px;
        font-size: 10px;
        width: 320px;
        height: 30px;
    }
    /* 여기까지 promotion */

    .banner2 {
        height: 290px;
        padding-top: 55px;
    }
    .banner2_title > h1 {
        font-size: 19px;
    }
    .banner2_title > p {
        font-size: 8px;
        margin-top: 10px;
    }
    .banner2_box {
        width: 345px;
        margin-top: 25px;
    }
    .banner2_box h1 {
        font-size: 22px;
    }
    .banner2_box p {
        font-size: 8px;
    }
    .banner2_box > div {
        height: 105px;
    }
    .banner2_box > div > img {
        width: 45px;
        height: 45px;
    }
    /* 여기까지 banner2 */

    .smart {
        height: 650px;
        padding-top: 60px;
    }
    .smart > img {
        width: 30px;
        height: 17px;
        margin-bottom: 15px;
    }
    .smart h1 {
        font-size: 19px;
        margin-bottom: 10px;
    } 
    .smart p {
        color: #1b396f;
        font-size: 8px;
        margin-bottom: 45px;
    }
    .smart .icon_box {
        width: 1100px;
    }
    .smart .icon_box img {
        width: 240px;
        height: 230px;
    }
    .icon_box div h2 {
        font-size: 19px;
        margin-top: 20px;
    }
    .icon_desc p {
        font-size: 12px;
        line-height: 17px;
        margin-top: 8px;
        color: white;
        width: 240px;
    }
    /* 여기까지 smart */

    .benefit {
        height: 500px;
        padding-top: 60px;
    }
    .benefit_title {
        height: 75px;
        margin-bottom: 40px;
    }
    .benefit_title > img {
        width: 30px;
        height: 17px;
    }
    .benefit h1 {
        font-size: 19px;
    }
    .benefit_img > div {
        display: flex;
        width: 1050px;
        justify-content: space-between;
    }
    .benefit_img > div:nth-child(2) {
        display: none;
    }
    .benefit_box {
        width: 180px;
    }
    .benefit_box > img {
        width: 180px;
        height: 160px;
    }
    .benefit_box h2 {
        font-size: 19px;
        margin: 15px 0;
    }
    .benefit_box p {
        font-size: 15px;
    }
    .benefit > button {
        width: 320px;
        height: 30px;
        border-radius: 5px;
        font-size: 10px;
        margin-top: 55px;
    }
    /* 여기까지 benefit */


    .counsel {
        height: 255px;
        padding-top: 30px;
    }
    .counsel_text {
        flex-direction: column;
        justify-content: flex-start;
    }
    .counsel_text > div {
        height: 40px;
    }
    .counsel_text > div:nth-child(2) {
        position: absolute;
        top: 2800px;
        left: 10%;
        flex-direction: row;
        width: 300px;
        justify-content: space-between;
    }
    .counsel_text h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .counsel_text h2 {
        font-size: 8px;
    }
    .counsel_text p {
        font-size: 8px;
    }
    .counsel_text button {
        font-size: 6px;
    }
    .counsel_form {
        width: 330px;
        flex-direction: column;
        height: 140px;
        margin-top: 10px;
    }
    .counsel_form input {
        width: 330px;
        height: 30px;
        padding: 0;
        text-align: left;
        border-radius: 0;
    }
    .counsel_form input[type="submit"] {
        text-align: center;
    }
    .counsel_form input::placeholder {
        font-size: 10px;
        padding-left: 5px;
    }
    .counsel_form select {
        width: 330px;
        height: 30px;
        font-size: 10px;
        border-radius: 0;
        text-align: left;
        padding: 0;
    }
    /* 여기까지 counsel */

    .system {
        height: 480px;
        padding-top: 60px;
    }
    .system_title {
        height: 50px;
        margin-bottom: 40px;
    }
    .system_title > img {
        width: 30px;
        height: 17px;
    }
    .system h1 {
        font-size: 19px;
    }
    .system >div:nth-child(2) > img {
        height: 170px;
    }
    .system_text {
        width: 1400px;
        font-size: 19px;
        padding-bottom:10px;
        border-bottom: 0;
    }
    .system_text h2 {
        line-height: 1.5;
    }
    .system p {
        font-size: 10px;
        width: 280px;
        margin: 0;
        border-top: 1px solid rgba(255,255,255,0.5);
        padding: 10px 30px 0 30px;
        line-height: 1.7;
    }
    /* 여기까지 system */

    .review {
        height: 610px;
        padding-top: 60px;
    }
    .review_title {
        height: 70px;
        margin-bottom: 35px;
    }
    .review_title img {
        width: 30px;
        height: 17px;
    }
    .review_title h1 {
        font-size: 19px;
    }
    .review_title > p {
        font-size: 8px;
    }
    .review_center {
        display: flex;
        width: 1100px;
        justify-content: space-between;
    }
    .review_box {
        width: 265px;
        height: 335px;
        margin: 10px 0;
        border-radius: 15px;
    }
    .review_text > div h2 {
        font-size: 27px;
    }
    .review_text > div p {
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 9px;
    }
    .review_text img {
        width: 80px;
        height: 15px;
    }
    .review_text h3 {
        font-size: 15px;
    }
    .review_text p {
        font-size: 11px;
    }
    .review_person {
        padding: 20px 15px;
    }
    .review_person p {
        font-size: 10px;
        margin-bottom: 10px;
        text-align: left;
    }
    .review_person h4 {
        font-size: 13px;
        text-align: left;
    }
    /* 여기까지 review */

    .video {
        height: 400px;
        padding-top: 60px;
    }
    .video_title {
        height: 70px;
        margin-bottom: 40px;
    }
    .video_title img {
        width: 30px;
        height: 17px;
    }
    .video_title h1 {
        font-size: 19px;
    }
    .video_title p {
        font-size: 8px;
    }
    .video_box {
        height: 170px;
    }
    /* 여기까지 video */

    .kakao img {
        width: 100vw;
        height: 70px;
    }
    /* 여기까지 kakao */

    .media {
        height: 500px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .media_title {
        height: 70px;
        margin-bottom: 30px;
    }
    .media_title img {
        width: 30px;
        height: 17px;
    }
    .media_title h1 {
        font-size: 19px;
    }
    .media_title p {
        font-size: 8px;
    }
    .media_box {
        flex-direction: column;
        height: 280px;
        width: 360px;
    }
    .media_box > div {
        display: flex;
        width: 360px;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: auto;
    }
    .media_box div img {
        width: 105px;
        height: 60px;
    }
    .media_box div h3 {
        margin: 0;
        padding: 0 0 10px 10px;
        font-size: 12px;
        text-align: left;
        width: 200px;
    }
    .media_box div span {
        font-size: 9px;
        margin-left: 5px;
    }
    .media_box div p {
        margin: 5px 0 0 10px;
        font-size: 10px;
        text-align: left;
    }
    .media > button {
        width: 320px;
        height: 30px;
        border-radius: 5px;
        font-size: 10px;
        margin-top: 40px;
    }
    /* 여기까지 media */

    .faq {
        height: 765px;
        padding-top: 30px;
    }
    .faq_title {
        height: 80px;
        margin-bottom: 30px;
    }
    .faq_title img {
        width: 35px;
        height: 30px;
    }
    .faq_title h1 {
        font-size: 19px;
    }
    .faq_title p {
        font-size: 8px;
    }
    .faq_box {
        align-items: center;
        justify-content: flex-start;
        width: 340px;
        height: 510px;
    }
    .faq_box > div {
        flex-direction: column;
    }
    .faq_box .faq_question {
        font-size: 12px;
        width: 330px;
        height: 40px;
        margin: 10px 0;
        padding-left: 10px;
    }
    .faq_box .faq_question img {
        width: 13px;
        height: 10px;
    }
    .faq_box p {
        font-size: 11px;
        padding-left: 10px;
        margin-bottom: 5px;
        text-align: left;
        display: none;
    }
    .faq_box span {
        letter-spacing: 1px;
    }
    .faq > button {
        width: 320px;
        height: 30px;
        border-radius: 5px;
        font-size: 10px;
        margin-top: 50px;
    }
    /* 여기까지 faq */

    .banner3 {
        height: 520px;
        padding-top: 60px;
    }
    .banner3_title {
        height: 65px;
        margin-bottom: 25px;
    }
    .banner3_title img {
        width: 30px;
        height: 17px;
    }
    .banner3_title h1 {
        font-size: 19px;
    }
    .banner3_title p {
        font-size: 8px;
    }
    .banner3_center {
        display: flex;
        justify-content: space-between;
        width: 910px;
    }
    .banner3_center > div > div {
        width: 245px;
        height: 245px;
        border-radius: 10px;
        align-items: flex-start;
    }
    .banner3_center > div h2 {
        font-size: 21px;
    }
    .banner3_center > div button {
        font-size: 10px;
        width: 75px;
        height: 25px;
        padding: 0;
    }
    .banner3_center > div p {
        font-size: 15px;
    }
    /* 여기까지 banner3 */

    .banner4 {
        height: 380px;
        background-image: url('./m_image/bottom_1.jpg');
        padding-top: 60px;
        padding-left: 20px;
    }
    
    .banner4 h1 {
        font-size: 19px;
        line-height: 26px;
        margin-bottom: 30px;
        text-align: left;
    }
    .banner4 p {
        font-size: 11px;
        text-align: left;
    }
    /* 여기까지 banner4 */
}